Package: jp.r-plus.slidecut
Name: SlideCut
Depends: mobilesubstrate, firmware (>= 4.0), cy+model.iphone | cy+model.ipod
Version: 0.0.1
Architecture: iphoneos-arm
Description: Slide shortcut via space key.
Maintainer: r_plus
Author: r_plus
Section: Tweaks
